<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <img src="../assets/img/logo.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 >Job Application</h3>
          </div> 
          <div class="panel-body">
            <form [formGroup]="applicantForm"  (ngSubmit)="submit(this.applicantForm.value)">
            <div class="row">
              <h3 class="form-padding">Applicant</h3>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="workbefore">Have you worked at MOTIVA before?</label>
                   <select  name="" id="" class="form-control"  [(ngModel)]="applicants.workbefore" formControlName="workbefore" >
                      <option value="select">Select</option>
                      <option value="yes">Yes</option>
                      <option value="no">No</option>
                   </select>
                  </div>
                
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                    <label for="pay-range">Desire pay range?</label>
                    <input  type="text" class="form-control" [(ngModel)]="applicants.payrange" formControlName="payrange"/>
                  </div>
              </div>

               <div class="col-md-4">
                  <div class="form-group">
                    <label for="position">Desired Position</label>
                    <select name="" id="" class="form-control" [(ngModel)]="applicants.desposition" formControlName="desposition">
                      <option value="">Select</option>
                      <option value="">Costumer Service Representative</option>
                      <option value="">Spanish Costumer Service</option>
                      <option value="">Claims Representative</option>
                      <option value="">Sales Executive</option>
                      <option value="">Other</option>
                    </select>
                  </div>
              </div>
            </div> 

            <div class="row">
              <h3 class="form-padding">Personal Information</h3>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="">Name(s)</label>
                  <input type="text" class="form-control" [(ngModel)]="applicants.name" formControlName="name">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="">Paternal Sourname</label>
                  <input type="text" class="form-control" [(ngModel)]="applicants.psourname" formControlName="psourname">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="">Maternal Sourname</label>
                  <input type="text" class="form-control" [(ngModel)]="applicants.msourname" formControlName="msourname">
                </div>
              </div>
            </div>

             <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="">Birthdate</label>
                  <input type="date" class="form-control" [(ngModel)]="applicants.dob" formControlName="dob">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="">Age</label>
                  <input type="text" class="form-control" [(ngModel)]="applicants.age" formControlName="age">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="">Gender</label>
                  <select name="" id="" class="form-control" [(ngModel)]="applicants.gender" formControlName="gender">
                      <option value="">Select</option>
                      <option value="">Male</option>
                      <option value="">Female</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="">Place of Birth</label>
                  <input type="text" class="form-control" [(ngModel)]="applicants.pofbirth" formControlName="pofbirth">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="">Nationality</label>
                  <input type="text" class="form-control" [(ngModel)]="applicants.nationality" formControlName="nationality">
                </div>
              </div>
            </div>

             <div class="row">
               <h3 class="form-padding">City and State</h3>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="">City</label>
                  <select name="" id="" class="form-control" [(ngModel)]="applicants.city" formControlName="city">
                    <option value="">Select</option>
                    <option value="">Tijuana</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="">State</label>
                   <select name="" id="" class="form-control" [(ngModel)]="applicants.state" formControlName="state">
                    <option value="">Select</option>
                    <option value="">Baja California</option>
                    <option value="">Sonora</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="">Zip Code</label>
                  <input type="text" class="form-control" [(ngModel)]="applicants.zipcode" formControlName="zipcode">
                </div>
              </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Street</label>
                    <input type="text" class="form-control" [(ngModel)]="applicants.street" formControlName="street">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Street Number</label>
                    <input type="text" class="form-control" [(ngModel)]="applicants.streetNumber" formControlName="streetNumber">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Int. App Number</label>
                    <input type="text" class="form-control" [(ngModel)]="applicants.appartNumber" formControlName="appartNumber">
                  </div>
                </div>
            </div>

             <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                      <label for="">Home Phone</label>
                      <input type="text" class="form-control" [(ngModel)]="applicants.homePhone" formControlName="homePhone">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                      <label for="">Mobile Phone</label>
                      <input type="text" class="form-control" [(ngModel)]="applicants.mobilePhone" formControlName="mobilePhone">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                      <label for="">Secondary Contact Phone</label>
                      <input type="text" class="form-control" [(ngModel)]="applicants.appartNumber" formControlName="appartNumber">
                  </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                      <label for="">Radio</label>
                      <input type="text" class="form-control" [(ngModel)]="applicants.radio" formControlName="radio">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Email</label>
                    <input type="text" class="form-control" [(ngModel)]="applicants.email" formControlName="email">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    
                  </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                      <label for="">Relationship Status</label>
                      <select name="" id="" class="form-control" [(ngModel)]="applicants.relation" formControlName="relation">
                        <option value="">Select</option>
                        <option value="">Single</option>
                        <option value="">Merried</option>
                        <option value="">Separated</option>
                        <option value="">Living Together</option>
                      </select>
                  </div>
                </div>

                 <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Spouse Name</label>
                    <input type="text" class="form-control" [(ngModel)]="applicants.spouseName" formControlName="spouseName">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Do you have Children, how many? </label>
                    <select name="" id="" class="form-control" [(ngModel)]="applicants.childrens" formControlName="childrens">
                      <option value="">1</option>
                      <option value="">2</option>
                      <option value="">3</option>
                      <option value="">4</option>
                      <option value="">5</option>
                      <option value="">More</option>
                    </select>
                  </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                      <label for="">Father Name</label>
                      <input type="text" class="form-control" [(ngModel)]="applicants.fatherName" formControlName="fatherName">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Mother Name</label>
                    <input type="text" class="form-control" [(ngModel)]="applicants.motherName" formControlName="motherName">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    
                  </div>
                </div>
            </div>

             <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                        <label for="">Emergency Contact</label>
                        <input type="text" class="form-control" [(ngModel)]="applicants.emergencyContact" formControlName="emergencyContact">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Your relation with the contact?</label>
                    <input type="text" class="form-control" [(ngModel)]="applicants.relcontactPhone" formControlName="relcontactPhone">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Phone</label>
                    <input type="text" class="form-control" [(ngModel)]="applicants.emergencyContact" formControlName="emergencyContact">
                  </div>
                </div>
            </div>

             <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                      <label for="">Household members dependent on you?</label>
                      <input type="text" class="form-control" [(ngModel)]="applicants.dependantYou" formControlName="dependantYou">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                      <label for="">Time living in current residence?</label>
                      <input type="text" class="form-control" [(ngModel)]="applicants.timeResident" formControlName="timeResident">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    
                  </div>
                </div>
            </div>

             <div class="row">
               <h3 class="form-padding">General Information</h3>
                <div class="col-md-4">
                  <div class="form-group">
                      <label for="">What is your Level of Education</label>
                      <input type="text" class="form-control" [(ngModel)]="applicants.education" formControlName="education">
                  </div>
                </div>

                <div class="col-md-4">
                   <div class="form-group">
                      <label for="" style="font-size:9px;">In what school did you attend your highest level of education?</label>
                      <input type="text" class="form-control" [(ngModel)]="applicants.school" formControlName="school">
                  </div>
                </div>

                <div class="col-md-4">
                   <div class="form-group">
                      <label for="">Date</label>
                      <input type="date" class="form-control" [(ngModel)]="applicants.graduationDate" formControlName="graduationDate">
                  </div>
                </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="">Degree</label>
                <input type="text" class="form-control" [(ngModel)]="applicants.degree" formControlName="degree">
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="">English Proficiency</label>


                <input type="text" class="form-control" [(ngModel)]="applicants.englishProficiency" formControlName="englishProficiency">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="">English Writing Level</label>
                <input type="text" class="form-control">
                </div>
              </div>
            </div>

            <div class="row">
               
               <div class="col-md-4">
               <div class="form-group">
                  <label for="">Computer Proficency</label>
                <select name="" id="" class="form-control"  [(ngModel)]="applicants.computerProficency" formControlName="computerProficency">
                  <option value="">Select</option>
                  <option value="">Basic</option>
                  <option value="">Intermediated</option>
                  <option value="">Advanced</option>
                </select>
               </div>
              </div>
             

              <div class="col-md-4">
               
              </div>

              <div class="col-md-4">
               
              </div>
            </div>

            <div class="row">
                <h3 class="form-padding">Additional Information</h3>
               <div class="col-md-4">
                <div class="form-group">
                 <label for="">Do you have a valid VISA/Passport?</label>
                <select name="" id="" class="form-control" [(ngModel)]="applicants.validVisa" formControlName="validVisa" >
                  <option value="">Select</option>
                  <option value="">Yes</option>
                  <option value="">No</option>
                </select>
                </div>
              </div>
              

              <div class="col-md-4">
              <div class="form-group">
                  <label for="">Do you have tattoos in your body?</label>
                <select name="" id="" class="form-control" [(ngModel)]="applicants.bodyTattos" formControlName="bodyTattos">
                  <option value="">Select</option>
                  <option value="">Yes</option>
                  <option value="">No</option>
                </select>
              </div>
              </div>

              <div class="col-md-4">
              <div class="form-group">
                 <label for=""style="font-size:9px;">Mention Clubs or Associations where you have been a member.</label>
               <input type="text" class="form-control" [(ngModel)]="applicants.memberClub" formControlName="memberClub">
              </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="">Do you have criminal Record?</label>
                  <select name="" id="" class="form-control" [(ngModel)]="applicants.criminalRecord" formControlName="criminalRecord">
                    <option value="">Select</option>
                    <option value="">Yes</option>
                    <option value="">No</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
               <div class="form-group">
                  <label for="">Have you ever been in prison in Mexico?</label>
                <select name="" id="" class="form-control" [(ngModel)]="applicants.prisonMexico" formControlName="prisionMexico">
                    <option value="">Select</option>
                    <option value="">Yes</option>
                    <option value="">No</option>
                  </select>
               </div>
              </div>
              <div class="col-md-4">
                <label for=""></label>
              </div>
            </div>

             <div class="row">
               <h3 class="form-padding">Avility /When can you start?</h3>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="">Shift</label>
                <select name="" id="" class="form-control" [(ngModel)]="applicants.shift" formControlName="shift">
                    <option value="">Select</option>
                    <option value="">Morning</option>
                    <option value="">Afternoon</option>
                    <option value="">Night</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="">Are you availiable for on-call work?</label>
                 <select name="" id="" class="form-control" [(ngModel)]="applicants.callWork" formControlName="callWork">
                    <option value="">Select</option>
                    <option value="">Yes</option>
                    <option value="">No</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="">Are you availiable for night shift?</label>
                <select name="" id="" class="form-control" [(ngModel)]="applicants.nightShift" formControlName="nightShift">
                    <option value="">Select</option>
                    <option value="">Yes</option>
                    <option value="">No</option>
                  </select>
                </div>
              </div>
            </div>

             <div class="row">
                <h3 class="form-padding">References</h3>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="">Name</label>
                <input type="text" class="form-control" [(ngModel)]="applicants.refName" formControlName="refName">
                </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Occupation</label>
                  <input type="text" class="form-control" [(ngModel)]="applicants.refOccupation" formControlName="refOccupation">
                  </div>
              </div>
              <div class="col-md-4">
               <div class="form-group">
                  <label for="">Phone</label>
                <input type="text" class="form-control" [(ngModel)]="applicants.refPhone" formControlName="refPhone">
               </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="">How long have you known this person? </label>
                <input type="text" class="form-control" [(ngModel)]="applicants.refKnow" formControlName="refKnow">
                </div>
              </div>
              <div class="col-md-4">
                  <div class="forn-group">
                    <label for="">Email</label>
                  <input type="text" class="form-control" [(ngModel)]="applicants.refEmail" formControlName="refEmail">
                  </div>
              </div>
              <div class="col-md-4">
                <label for=""></label>
              </div>
            </div>

             <div class="row">
               <h3 class="form-padding">Employment References</h3>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="">Work Experience</label>
                <select name="" id="" class="form-control" [(ngModel)]="applicants.workExperince" formControlName="workExperince">
                   <option value="">Select</option>
                    <option value="">Yes</option>
                     <option value="">No</option>
                </select>
                </div>
              </div>
              <div class="col-md-4">
                  <label for=""></label>
              </div>
              <div class="col-md-4">
                <div class="from-group">
                  <label for="">Phone</label>
                <input type="text" class="form-control" >
                </div>
              </div>
            </div>

             <div class="row">
              <div class="col-md-4">
                <div class="from-group">
                  <label for="">Name of the company</label>
                <input type="text" class="form-control" [(ngModel)]="applicants.companyName" formControlName="companyName">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="">Country</label>
                <input type="text" class="form-control" [(ngModel)]="applicants.companyCountry" formControlName="companyCountry">
                </div>
              </div>
              <div class="col-md-4">
               <div class="form-group">
                  <label for="">Date</label>
                <input type="date" class="form-control" [(ngModel)]="applicants.companyDate" formControlName="companyDate">
               </div>
              </div>
            </div>

             <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="">Why did you leave your job</label>
                <input type="text" class="form-control" [(ngModel)]="applicants.leaveJob" formControlName="leaveJob">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="">Job Title</label>
                <input type="text" class="form-control" [(ngModel)]="applicants.jobTitle" formControlName="jobTitle">
                </div>
              </div>
              <div class="col-md-4">
               <div class="form-group">
                  <label for="">Who was your supervisor?</label>
                <input type="text" class="form-control" [(ngModel)]="applicants.supervisorName" formControlName="supervisorName">
               </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <button type="submit" class="btn btn-success">Submit Application</button>
                </div>
              </div>
              <div class="col-md-6">
                
              </div>
            </div>


          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>